.separator{
  height: 1rem;
}

.example-card {
  max-width: 20rem;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
}

.mat-title {
  
  display: flex;
  justify-content: center;
}