<div class="container-fluid table-container mt-4">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{ errorMessage }}</div>
  <h1>Your pets: </h1>
  <div class="">
    <table class="table table-sm table-sm-responsive table-light text-center">
      <thead>
        <tr class="">
          <th class="col-3">
            Id
          </th>
          <th class="col-3">
            Name
          </th>
          <th class="col-3">
            Pet type
          </th>
          <th class="col-3">
            Picture
          </th>
          <th class="">
            Edit
          </th>
          <th class="">
            Delete
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pet of pets" class="">
          <td class="align-middle">
            {{pet.id}}
          </td>
          <td class="align-middle">
            {{pet.name}}
          </td>
          <td class="align-middle">
            {{pet.petType}}
          </td>
          <td *ngIf="imageInfo" class="align-middle">
            <img src="{{pet.picture?.url}}" class="pet-preview border img-thumbnail" />
          </td>
          <td>
            <a class="btn btn-success align-middle" routerLink="/edit/{{pet.id}}">Edit</a>
          </td>
          <td>
            <button class="btn btn-danger align-middle" id = "delete-{{pet.id}}" (click)="onDelete(pet);">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container-fluid mt-5">
    <h1>Add pet:</h1>
  </div>
  <form #petForm="ngForm" class="card mb-3">

    <div class="mb-3">
      <div class="card-body">
        <div class="mb-3">
          <label for="name" class="form-label">
            Pet's name:
          </label>
          <br>
          <input type="text" name="name" id="name" class="form-control" #name ngModel required>
          <p [hidden]="(petForm.valid ||
                        petForm.untouched||
                        petForm.value.name !='')" class="alert alert-danger">
            Please fill in the pet's name!
          </p>
        </div>
        <div class="mb-3">
          <label for="petType" class="form-label">
            Pet's type:
          </label>
          <br>
          <input type="text" name="petType" id="petType" class="form-control" #petType ngModel>
        </div>

        <div class="mb-3">
          <label for="petImage" class="btn btn-outline-success form-control">            
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z"/>
              </svg>
              Select picture            
          </label>

          <input type="file" name="petImage" id="petImage" accept="image/*" class="form-control"
                placeholder="Choose file" (change)="selectFile($event)" style="display : none" #petImage ngModel>
        </div>
        <div *ngIf="preview" class="mb-3 preview-container">
          <img [src]="preview" class="preview" />
        </div>        
        <div class="form-group mb-2">
          <button class="btn btn-success form-control"
            (click)="onAdd(name.value, petType.value); name.value=''; petType.value=''" [disabled]="petForm.invalid">
            Add pet
          </button>
        </div>
      </div>
    </div>
  </form>
</div>