<nav class="navbar navbar-expand-lg navbar-light sticky-top padding-left-right bg-body-secondary">
    <a class="navbar-brand" [routerLink]="['/home']"><img src="./assets/dog-icon.png" alt="home" style="max-width: 3rem"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item fs-6 me-2" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item fs-6 me-2" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/about']">About</a>
            </li>
            <li class="nav-item fs-6 me-2" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/contact']">Contact</a>
            </li>
            <li class="nav-item fs-6 me-2" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/pets']">Pets</a>
            </li>
            <li class="nav-item fs-6 me-2" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/petclinics']">Pet clinics</a>
            </li>
            <li class="nav-item fs-6 me-2" [routerLinkActive]="['active']">
                <!--Show admin page only if logged in and if user role is admin: *ngIf="..." -->
                <a class="nav-link" *ngIf="this.auth.isAuthenticated && this.auth.isAdmin()" [routerLink]="['/admin']">Admin</a>
            </li>
            <li class="nav-item fs-6 me-2" [routerLinkActive]="['active']">
                <a class="nav-link" *ngIf="!this.auth.isAuthenticated" [routerLink]="['/login']">Login</a>
                <a class="nav-link" *ngIf="this.auth.isAuthenticated" (click)="this.auth.logout()">Logout</a>
            </li>
            <li class="nav-item fs-6 me-2" [routerLinkActive]="['active']">
                <a class="nav-link" *ngIf="!this.auth.isAuthenticated" [routerLink]="['/register']">Register</a>
            </li>
             
        </ul>
    </div>
  </nav>

