<div *ngIf="petClinic" class="form-group form-container mt-4 container">
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{ errorMessage }}</div>
    <h1 class="text-center">{{petClinic.petClinicName}}</h1>
    <div class="card">
        <div class="card-body">
            
            <div class="mb-4">
                <div>Address: </div>

                <div *ngFor ="let address of petClinic.petClinicAddresses!">
                    {{address.city}}, 
                    {{address.street}}
                </div>
                <div *ngFor ="let phone of petClinic.petClinicPhones!">
                    {{phone.phoneNumber}} 
                </div>
            </div>
            <div class="mb-4">
                
            </div>
            <div class="mb-2">
                <button (click)="goBack()" class="btn btn-success form-control">Go back</button>
                &nbsp;
            </div>
        </div>
    </div>
</div>
