<div class="container form-container mt-4">
    <h1 class="text-center">Register</h1>
    <div class="card">
        <div class="card-body">
            <div *ngIf="message" class="alert alert-danger" role="alert">{{ message }}</div>
            <form #regForm="ngForm" (ngSubmit)="onSubmit(regForm)" class="row">
                <div class="mb-4">
                    <label for="username" class="form-label">Username</label>

                    <input type="text" class="form-control" id="username" placeholder="Enter username" name="username"
                        required minlength="3" [(ngModel)]="user.username" #username="ngModel">
                    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                        Username has to be at least 3 characters long!
                    </div>
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password"
                        name="password" required minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        [(ngModel)]="user.password" #password="ngModel">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                        At least 8 digits, a number, a capital and a small letter!
                    </div>
                </div>
                <div class="mb-2">
                    <button type="submit" class="btn btn-success form-control" [disabled]="regForm.invalid">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>